<div class="bottom-nav">
    <a href="/list" class="nav-item">
        <span class="icon">🏠</span>
        <span>HOME</span>
    </a>
    <a href="/chat" class="nav-item">
        <span class="icon">💬</span>
        <span>TEAMCHAT</span>
    </a>
    <a href="/orderlist" class="nav-item">
        <span class="icon">📋</span>
        <span>ORDERLIST</span>
    </a>
    <a href="#" class="nav-item">
        <span class="icon">🛒</span>
        <span>CART</span>
    </a>
    <a href="/mypage" class="nav-item">
        <span class="icon">👤</span>
        <span>MYPAGE</span>
    </a>
</div>
