<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <link rel="stylesheet" href="/main.css" />
        <title>Document</title>
        <link href="/main.css" rel="stylesheet" />
    </head>
    <body class="grey-bg">
        <%- include('nav.ejs')%>
        <div class="showimg">
            <h1>Title : <%= result.title %></h1>
            <img src="<%= result.img %>" />
        </div>
        <%- include('navbar-bottom.ejs')%>
    </body>
</html>
